*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    



body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49,49,49)
    
    }

.calculator{
      width: 350px;
      margin: 4.7rem auto;
      background-color:rgb(96,97,104);
      padding: 20px;
      border-radius: 20px;
      border-bottom: 10px solid rgb(81,82,89);

}

button:active{
    background-color: #a6a4a4;
}

input{
    text-align: right;
    width: 98%;
    border-radius: 15px;
    background: rgb(208,213,225);
    font-size: 2rem;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-bottom: 10px solid #C2C7D3;
    color: #fff;
    outline: none;
    overflow-x: hidden;
   
}

input::placeholder{
    color: #ffffff;
}

td button{
    font: bold 30px arial;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 3px;
    border-radius: 10px;
    border-right: 2px solid #a6a4a4;
    border-bottom: 5px solid rgb(228, 228, 229);
    border-top: none;
    border-left: none;
    width: 100%;
    cursor: pointer;

}

.button-body{
    width: 100%;
    
}

.table-body{
    position: relative;
    width: 100%;
}



#equals-button{
      background-color: #F89734;
      border-right: 2px solid #DF8338;
      border-bottom: 5px solid #DF8338;
      margin-bottom: 10px;
      
      

}

.button-opr{
    margin-bottom: 10px;
}

.button-role  .button-number{
    margin-bottom: 10px;
}

td{
    padding-right: 5px;
}


      





